@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    html::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }

    html::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #1650a0;
    }

    .yes-scrollbar::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    .yes-scrollbar::-webkit-scrollbar {
      width: 12px;
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    .yes-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #a4cafe;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  margin: 0;
  /* font-family: 'Ysabeau Office', sans-serif; */
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
